/* body element */
body {
    /* set display to flex */
    display: flex;
    
    /* align center in column direction*/
    align-items: center;
    flex-direction: column;

    /* hide overflow of x axis */
    overflow-x: hidden;
}

/* navbar element */
nav{
    /* set width to 100% viewport*/
    width: 100vw;
    /* stick to top of page */
    /* not sure if i need this cause we added class "position-sticky" from bootstrap in the html */
    position: sticky;
    top: 0px;
    z-index: 10000;
}

/* div element with id = 'display' */
div#display{
    /* set text align to center */
    text-align: center;

    /* provide a top margin */
    margin-top: 50px;

    margin-bottom: 50px;
}


/* footer element */
footer{
    /* make sure all content is centered */
    display: flex;
    justify-content: center;
    /* set background to black */
    background-color: black;
    /* set text-color to white */
    color: white;

    /* fix to bottom */
    position: fixed;
    bottom: 0px;

    /* other style for footer */
    width: 100vw;
    margin-top: 50px;
    padding: 10px;
}

/* Other CSS */

.card{
    width: 18rem;
    margin: 2rem;
    height: fit-content;
    padding: 0;
}

.card_top{
    padding: 1rem;
}

.card_image{
    margin: 2rem;
    margin-top: 0rem;
    height: 12rem;
    max-width: 12rem;
    align-self: center;
}

.modal{
    z-index: 10001;
}

.modal-footer{
    justify-content: space-between;
}

tr#totalRow{
    background-color: lightgreen;
}